.container-profile {
    margin-top: 5px;
    border-radius: 2em;
    background-color: #f4f3f8;
    opacity: 90%; 
    min-height: 400px;
}
th,td{
    text-align : left;
}
.title-tb{
    font-size: x-large;
}