<div *ngIf="client != null" class="container-profile">
  <div class="card text-center">
    <div class="card-header">
      infos
    </div>
    <div class="card-body">
      <h2 class="card-title">Details client : {{client?.nom}} {{client?.prenom}} </h2>
      <div class="card-text">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="title-tb" scope="col">propriété</th>
              <th class="title-tb"scope="col">infos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">montant ht</th>
              <td>{{client.montant_ht}}</td>
            </tr>
            <tr>
              <th scope="row">montant de la tva</th>
              <td>{{montant_tva}}</td>
            </tr>
            <tr>
              <th scope="row">montant de la ttc</th>
              <td>{{montant_ttc}}</td>
            </tr>
            <tr>
              <th scope="row">reste du</th>
              <td>{{restedu}}</td>
            </tr>
            <tr>
              <th scope="row"> délai de paiement</th>
              <td>{{client.delai_paiement}}</td>
            </tr>
            <tr>
              <th scope="row">action </th>
              <td>{{client.action}}</td>
            </tr>
            <tr>
              <th scope="row">versement_client </th>
              <td>{{client.versement_client}}</td>
            </tr>
            <tr>
              <th scope="row">mode de réglement </th>
              <td>{{client.mode_reglement}}</td>
            </tr>
            <tr>
              <th scope="row">retard de paiement</th>
              <td>{{client.retard_paiement}}</td>
            </tr>
            <tr>
              <th scope="row">date premier relance </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">date deuxième relance </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">pénalite </th>
              <td>{{client.penalite}}</td>
            </tr>
            <tr>
              <th scope="row">commentaire</th>
              <td>{{client.commentaire}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button mat-icon-button color="primary" aria-label="icon button with a edit icon" ><mat-icon>edit</mat-icon></button>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</div>
