<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container">
        <a href="#" class="navbar-brand"><img class="img-logo"src="assets/images/marsa-maroc.svg"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a routerLink="/" routerLinkActive="active" class="nav-link" href="#" class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/add-client" routerLinkActive="active" class="nav-link" href="#">Ajouter un clients</a>
            </li>
            <li class="nav-item">
              <a routerLink="/clients" routerLinkActive="active"  class="nav-link" href="#" >Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Admin Panel</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

  </header>
