<div class="container-table">
<div class="container-stats">
  <div class="stats">Nombre des client totale : {{totalClient}}</div>
  <div class="stats">Nombre de client payé : {{clientPaid}}</div>
  <div class="stats">Nombre de client non payé : {{clientNotPaid}}</div>
</div>
<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
<div class="chart-wrapper" style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>

</div>